<div class="container-fluid ">
  <!-- Nav tabs -->
  <ul class="nav main-nav nav-tabs justify-content-center nav-justified" >
    <li class="nav-item">
      <a class="nav-link" [class.active]="pestanaActiva === 'pestana1'" (click)="cambiarPestana('pestana1')" >CURSOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="pestanaActiva === 'pestana2'" (click)="cambiarPestana('pestana2')" >GRUPOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="pestanaActiva === 'pestana3'" (click)="cambiarPestana('pestana3')" >ESTUDIANTES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="pestanaActiva === 'pestana4'" (click)="cambiarPestana('pestana4')" >PROFESORES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="pestanaActiva === 'pestana5'" (click)="cambiarPestana('pestana5')" >USUARIOS</a>
    </li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div *ngIf="pestanaActiva === 'pestana1'" >
      <app-curso></app-curso>
    </div>
    <div *ngIf="pestanaActiva === 'pestana2'" >
      <app-grupo></app-grupo>
    </div>    
    <div *ngIf="pestanaActiva === 'pestana3'" >
      <app-estudiante></app-estudiante>
    </div>    
    <div *ngIf="pestanaActiva === 'pestana4'" >
      <app-profesores></app-profesores>
    </div>    
    <div *ngIf="pestanaActiva === 'pestana5'" >
      <app-usuarios></app-usuarios>
    </div> 
  </div>
</div>