.contenedorTecnologias{
    background-color: lightgray;
    box-shadow: 30px;
    position: relative;
    top: 50px;
    width: 120px;
    height: 120px;
    margin: 10px 10px 50px;
    padding: 2px;
}

.contenedorTecnologias img{
    width: 70px;
    height: 70px;
}

.contenedorTecnologias h1{
        font-size: 60%;
        color: #333 ;
}
